*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://image.freepik.com/vector-gratis/fondo-malla-degradado-colorido-suave-borroso_56745-147.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed; 
     text-align: justify;
     font-family: Arial, Helvetica, sans-serif;
     position: relative
}

.bio{
    background-color: rgb(164, 179, 31); 
    color: white;
    text-align: center;
    font-size: 1rem;
    width: 80em;
    height: 21em;
    padding: 2em;
    margin: 3em;
    border: black 0.2em;
}/*ya esta responsivo*/

span{
    font-size: 1.5rem;
    font-style: oblique;
}/*ya esta responsivo*/

.curios{
    background-color: rgb(140, 128, 241); 
    color: white;
    font-size: 1rem;
    width: 80em;
    height: 28em;
    padding: 2em;
    margin: 3em;
    border: black 0.2em;
    } /*ya esta responsivo*/

.tit{
    font-size: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: thistle; 
    background-color: black;
    width: 14,5em;
    height: 8rem;
    text-align: center;
    letter-spacing: 2rem;
    text-shadow: 1rem 1rem rgba(156, 152, 153, 0.822);
}/*ya esta responsivo*/

.letras{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: lightslategrey;
    border-style: none none solid none;
}

header{
    font-size: 1rem;
}
.nav{
    display: flex;
    position: fixed;
    float: right;
    left: 950px;
    align-content: space-around;
    padding: 0px 10px 0px 10px;
         
}
.nav ul{
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(179, 165, 165, 0.664);
  padding: 0px 10px 0px 10px;
         
  }
.nav li{
    display: inline-block;
    line-height: 3em;
    float: right;
       
             
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: 1,6rem;
           
  }
  li a:hover {
    background-color: #111;
  }

.tittabla{
      font-size: 2rem;
      line-height: 2rem;
      background-color: black;
      color: white;
  }
  .estiltablas{
      background-color: rgb(99, 97, 97);
  }

table{
    border: none;
    font-size: 1rem;
    text-align: justify;
}
th td{
    border-bottom: lightseagreen solid 1em;
    padding: 1em;
    text-align: center;
}
tr:hover{
    background-color: lightslategrey;
}

.imagen{
    width:80em;
    padding: 2em 1em 2em 1em;
    margin: 0em 1em 0em 1em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
    align-items: center;
    background-color: rgba(24, 20, 19, 0.836);
   }

.imagen .foto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
.container{
    width: 14,5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    padding: 60px 10px 30px 10px;
    margin-top: 40px;
               
}
.ranking{
    display: block;
    flex-direction: column;
}
.enlaces{
text-align: left;
background-color: none;
margin-top: 10px;
}
.enlaces li a:hover {
    background-color: rgba(189, 167, 167, 0.836);
  }

.enlaces li a{
    text-decoration: none;
    background-color: black;
    color: white;
    word-spacing: 8px;
    padding: 8px;
    letter-spacing: 0,8rem;
}

.enlaces ul li{
    display: block;
    flex-direction: column;
    position: sticky;
    padding: 10px;
    text-align: left;
    background-color: none;
    text-decoration: none;
    word-spacing: 8px;
    padding: 8px;
    letter-spacing: 0,8rem;
}

.music{
    display: block;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
        
}
footer{
    background-color:black; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    width: 14,5em;
    height: 5em;
    color: white;
    font-size: 1rem;
    margin-top: 1em;
}
/*para mobile*/
@media only screen and (max-width:640px){
.tit{
    width: 60rem;
    height: auto;
}
.nav{
    display: block;
    float: left;
    flex-direction: column;
    left: 10px;
}
.nav li a{
    display: block;
    flex-direction: column;
    float: left;
    line-height: 3em;
                
}
.container{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.bio{
    width: 40em;
    height: auto;
    
}
.imagen{
    width: auto;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.curios{
    width: 40em;
    height: auto;
}
.letras{
    font-size: 1.5rem;
}
.imagen1{
    width: 7em;
    height: auto;
}
footer{
    width: 60em;
    height: auto;
    font-size: 0,7rem;
}

}
/*para tablet*/
@media only screen and (min-width:641px) and (max-width:900px){
    .nav{
        display: block;
        float: left;
        flex-direction: column;
        left: 10px;
    }
    .bio{
        width: 50em;
        height: auto;
        padding: 1em;
        margin: 0,7em;
    }
    .imagen{
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        padding: 1em;
        margin: 0,5em;
    }
    .curios{
        width: 50em;
        height: auto;
        padding: 1em;
        margin: 0,7em;
    }
    .container{
        flex-direction: column;
         flex-wrap: wrap;
        align-items: center;
        align-content: center;

    }

}
/*para escritorio*/
@media only screen and (min-width:901px) and (max-width:1200px){
    .tit{
        width: 70rem;
        height: auto;
    }
    .nav{
        display: block;
        float: left;
        left: 700px;
    }
    .bio{
        width: 60em;
        height: auto;
        padding: 1em;
        margin: 0,7em;
    }
    .curios{
        width: 60em;
        height: auto;
        padding: 1em;
        margin: 0,7em;
    }
    footer{
        width: 70em;
        height: auto;
    }

}
